*{
    border: 1px dotted black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classe debug da levare alla fine */

.debug main section .row{
    height: 300px;
    /* background-color:#ee82ee;  */
    display: flex;
}

/* classe debug da levare alla fine */

.bg_azure{
    background-color:azure;
}

.bg_white{
    background-color: white;
}

.bg_blue{
    background-color:#00008b;
}

.bg_gray{
    background-color:#d3d3d3;
}

.bg_black{
    background-color:#23272a;
}


/* sezione header */


header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #add8e6;
    margin-bottom: 40;
}

.nav{
    height: 30px;
    background-color: #daa520;
    display: flex;
    align-items: center;
}

.width_logo{
    padding-left: 10px;
    width: 20%;
}

.width_link{
    width: 60%;
}

.width_login{
    text-align: end;
    width: 20%;
    padding-right: 10px;
}

.link{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}

/* /sezione header */


/* sezione main */

main > section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.section_1{
    background-color:#ee82ee ;
    width: 600px;
    margin: auto;
}

.big_square{
    width: 60%;
    background-color:#1e90ff;
}

.small_square{
    width: 40%;
    background-color:#ffc0cb;
}

/* come section 2 ma invertito  */

.section_3{
    flex-direction: row-reverse;
}

.section_5{
    background-color:#228b22;
    height:600px;
}

/* /come section 2 ma invertito  */



/* 




background-color:#f08080;
background-color:#20b2aa;
background-color:#7fffd4;
background-color:#7fffd4;
background-color:#ffb6c1;

*/

/* /sezione main */