*{
    border: 1px dotted black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classe debu da levare alla fine */

.debug main section .row{
    height: 300px;
    background-color: violet;

}

/* classe debug da levare alla fine */

.bg_azure{
    background-color:azure;
}

.bg_white{
    background-color: white;
}

.bg_blue{
    background-color: blue;
}

.bg_gray{
    background-color: gray;
}

.bg_black{
    background-color: black;
}


/* sezione header */


header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #add8e6;
    margin-bottom: 40;
}

.nav{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
}

.width_logo{
    padding-left: 10px;
    padding-right: 100px;
}

.width_login{
    padding-right: 10px;
    padding-left: 100px;
}

.link{
    list-style: none;
    display: flex;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}

/* /sezione header */


/* sezione main */

main > section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

/* /sezione main */